<div class="event-box card"
    data-id="{{_id}}"
    data-cp-first-name="{{CPFirstName}}"
    data-cp-last-name="{{CPLastName}}"
    data-cp-contact-no="{{CPContactNo}}"
>
    <div class="event-box-top">
        <div class="main-event-info">
            <span class="card-title">{{eventName}}</span>
            <span id="client-name">{{clientFirstName}} {{clientLastName}}</span>
        </div>
        <span id="status" data-status="{{status}}">{{status}}</span>
    </div>
    <div class="card-group">
        <div class="card-description-item">
            <i class="lni lni-calendar-days"></i>
            <span id="date"> {{eventDate}}</span>
        </div>
        <div class="card-description-item">
            <i class="lni lni-map-pin-5"></i>
            <span id="location">{{location}}</span>
        </div>
    </div>
    
    <div class="card-group">
        <div class="card-description-item">
            <i class="lni lni-pen-to-square"></i>
            <span id="description">{{description}}</span>
        </div>
    </div>
    
</div>