<div class="event-box container"
    data-id="{{_id}}"
    data-cp-first-name="{{CPFirstName}}"
    data-cp-last-name="{{CPLastName}}"
    data-cp-contact-no="{{CPContactNo}}"
>
    <div class="event-box-top">
        <span id="event-name">{{eventName}}</span>
        <span id="client-name">{{clientFirstName}} {{clientLastName}}</span>
    </div>
    
    <div class="event-box-bottom">
        <span id="date">{{eventDate}}</span>
        <span id="location">{{location}}</span>
        <span><strong>Description</strong></span>
        <span id="description">{{description}}</span>
        <span id="status" data-status="{{status}}"><strong>● Status:</strong> {{status}}</span>
    </div>
</div>