<div class="event-box container">
    <div class="event-box-top">
        <span class="event-name">{{data.eventName}}</span>
        <span class="client-name">{{data.clientName}}</span>
    </div>
    <div class="event-box-bottom">
        <span class="notif-date">{{data.date}}</span>
        <span class="notif-description-label">Description</span>
        <span class="notif-description">{{data.description}}</span>
    </div>

    {{#if (eq type "event_invite")}}
        <div class="notif-controls">
            <span class="notif-expiry">Invitation expires in {{data.daysLeft}} days.</span>
            <div class="notif-buttons">
                <button class="bg-button">
                    <a class="bg-button-wrapper" href="#">
                        <i class="lni lni-thumbs-down-3"></i>
                        <p>Not available</p>
                    </a>
                </button>

                <button class="fg-button">
                    <a class="fg-button-wrapper" href="#">
                        <i class="lni lni-thumbs-up-3"></i>
                        <p>Available</p>
                    </a>
                </button>
            </div>
        </div>
    {{/if}}
</div>
