<div class="team-member-mini-card2"
    data-email="{{email}}"
    data-bio="{{bio}}"
    data-role="{{role}}"
    data-id="{{_id}}"
    data-pfp="{{pfp}}"
    data-firstName="{{firstName}}"
    data-lastName="{{lastName}}"
>
    <div class="team-member-mini-picture" style="background-image: url('{{pfp}}');"></div>
    <span id="full-name">{{firstName}} {{lastName}}</span>
    <span id="role">{{role}}</span>
</div>