<button class="team-member-mini-card"
    data-email="{{email}}"
    data-bio="{{bio}}"
    data-role="{{role}}"
    data-id="{{_id}}"
    data-pfp="{{pfp}}"
    data-firstName="{{firstName}}"
    data-lastName="{{lastName}}"
    type="button"
>
    <img class="team-member-mini-picture" src="{{pfp}}"></img>
    <span id="full-name">{{firstName}} {{lastName}}</span>
    <span id="role">{{role}}</span>
    <i id="teamMiniAddButton" class="lni lni-plus"></i>
    <i id="teamMiniRemoveButton" class="lni lni-xmark"></i>
</button>