<div class="team-member-card card"
    data-email="{{email}}"
    data-bio="{{bio}}"
    data-role="{{role}}"
>
    <div class="team-member-picture" style="background-image: url('{{pfp}}');"></div>
    
    <div class="team-member-details">
        <span id="full-name">{{firstName}} {{lastName}}</span>
        <span id="role">{{role}}</span>
        <span id="contact-no">{{formatPhone _id}}</span>
    </div>
</div>