<div class="modal-container modal-container-hidden">
    <div class="modal modal-hidden">
        <h2 class="modal-header header">Discard changes?</h2>
        <p class="modal-description">Changes will not be saved.</p>
        <div class="modal-controls">
            <button class="bg-button button" id="cancel-modal-no-button">
                <div class="button-wrapper">
                    <i class="lni lni-pencil-1"></i>
                    <p>Keep editing</p>
                </div>
            </button>
            <button class="destructive-button button" id="cancel-modal-yes-button">
                <div class="button-wrapper">
                    <i class="lni lni-trash-3"></i>
                    <p>Discard</p>
                </div>
            </button>
        </div>
    </div>
</div>

<div class="page-title-bar">
    <button class="back-link" id="page-back-button">
        <a class="button-wrapper" href="#">
            <i class="lni lni-arrow-left"></i>
            <p>Back</p>
        </a>
    </button>
    <h2 class="header">Attendance Check:</h2>
    <h2 class="header" id="event-name">{{event.eventName}}</h2>
</div>

<div class="event-attendance card">
    <div class="attendance-team">
        <h2 class="secondary-header">Team Members</h2>
        <div class="members-box">
            {{#if teamMembers.length}}
                {{#each teamMembers}}
                    {{> attendanceBox this role="team" attendance=attendance index=index}}
                {{/each}}
            {{else}}
                <p>Currently no members in this event.</p>
            {{/if}}
        </div>
    </div>

    <div class="attendance-supplier">
        <h2 class="secondary-header">Suppliers</h2>
        <div class="members-box">
            {{#if suppliers.length}}
                {{#each suppliers}}
                    {{> attendanceBox this role="supplier" attendance=attendance index=index}}
                {{/each}}
            {{else}}
                <p>Currently no suppliers in this event.</p>
            {{/if}}
        </div>
    </div>
</div>

<div class="attendance-page-buttons">
    <button class="bg-button button" id="form-cancel-button" href="/eventDetails?id={{event._id}}">
        <div class="bg-button-wrapper button-wrapper">
            <i class="lni lni-xmark"></i>
            <p>Cancel</p>
        </div>
    </button>

    <button class="fg-button button" id="submit-attendance" href="/eventDetails?id={{event._id}}">
        <div class="fg-button-wrapper button-wrapper">
            <i class="lni lni-check"></i>
            <p>Done</p>
        </div>
    </button>
</div>

<script>
    const teamId = '{{team._id}}';
    const eventId = '{{event._id}}';
</script>
