<div class="page-title-bar">
    <h2 class="header">Upcoming Events</h2>
</div>

<div class="top-page-bar">
    <form role="search" class="search-bar" id="eventSearchForm">
        <button type="submit"><i class="lni lni-search-1"></i></button>
        <input type="search" name="q" id="eventSearchInput" placeholder="Search events...">
    </form>

    {{#if showCreateButton}}
        <div class="fg-button button" id="desktop-create-button">
            <a class="fg-button-wrapper button-wrapper" href="/create/event">
                <i class="lni lni-plus"></i>
                <p>Create</p>
            </a>
        </div>
    {{/if}}
</div>

<div class="card-list">
    {{#each events}}
        {{#if (eq status "planning")}}
            {{> eventBox this}}
        {{else}}
            {{#if (eq status "in progress")}}
                {{> eventBox this}}
            {{else}}
                {{#if (eq status "postponed")}}
                    {{> eventBox this}}
                {{/if}}
            {{/if}}
        {{/if}}
    {{else}}
        <div class="no-results-container">
            <i class="lni lni-emoji-sad"></i>
            <p class="no-results-message">No results found</p>
        </div>
    {{/each}}
    {{#if showCreateButton}}
        <div class="fg-button button" id="mobile-create-button" hidden>
            <a class="fg-button-wrapper button-wrapper" href="/create/event">
                <i class="lni lni-plus"></i>
            </a>
        </div>
    {{/if}}
</div>

<div class="pagination-controls-container">
    {{#if (gt currentPageNumber 1)}}
    <a href="/eventList?page={{subtract currentPageNumber 1}}" class="pagination-control" id="pagination-previous-button">
        <i class="lni lni-arrow-left"></i>
    </a>
    {{else}}
    <a class="disabled-link pagination-control" id="pagination-previous-button">
        <i class="lni lni-arrow-left"></i>
    </a>
    {{/if}}
    {{#if (eq pageCount 1)}}
    <form class="pagination-form" method="get">
        <input type="text" min="1" max="{{subtract pageCount 1}}" name="page" class="disabled-field pagination-form-input" id="currentPage" size="2" value="{{currentPageNumber}}">
    </form>
    {{else}}
    <form class="pagination-form" method="get">
        <input type="number" min="1" max="{{subtract pageCount 1}}" name="page" class="pagination-form-input" id="currentPage" size="2" value="{{currentPageNumber}}">
    </form>
    {{/if}}
    {{#if (lt currentPageNumber (subtract pageCount 1))}}
    <a href="/eventList?page={{add currentPageNumber 1}}" class="pagination-control" id="pagination-next-button">
        <i class="lni lni-arrow-right"></i>
    </a>
    {{else}}
    <a class="disabled-link pagination-control" id="pagination-next-button">
        <i class="lni lni-arrow-right"></i>
    </a>
    {{/if}}
</div>