<div class="page-title-bar">
    <h2 class="header">Past Events</h2>
</div>

<div class="event-list-top">
    <form role="search" class="search-bar" id="eventSearchForm">
        <button type="submit"><i class="lni lni-search-1"></i></button>
        <input type="search" name="q" id="eventSearchInput" placeholder="Search previous events...">
    </form>
</div>

<div class="card-list">
    {{#each events}}
        {{#if (eq status "completed")}}
            {{> eventBox this}}
        {{else}}
            {{#if (eq status "cancelled")}}
                {{> eventBox this}}
            {{/if}}
        {{/if}}
    {{else}}
        <div class="no-results-container">
            <i class="lni lni-emoji-sad"></i>
            <p class="no-results-message">No results found</p>
        </div>
    {{/each}}
</div>

<div class="pagination-controls-container">
    {{#if (gt currentPageNumber 1)}}
    <a href="/pastEvents?page={{subtract currentPageNumber 1}}" class="pagination-control" id="pagination-previous-button">
        <i class="lni lni-arrow-left"></i>
    </a>
    {{else}}
    <a class="disabled-link pagination-control" id="pagination-previous-button">
        <i class="lni lni-arrow-left"></i>
    </a>
    {{/if}}
    {{#if (eq pageCount 1)}}
    <form class="pagination-form" method="get">
        <input type="text" min="1" max="{{subtract pageCount 1}}" name="page" class="disabled-field pagination-form-input" id="currentPage" size="2" value="{{currentPageNumber}}">
    </form>
    {{else}}
    <form class="pagination-form" method="get">
        <input type="number" min="1" max="{{subtract pageCount 1}}" name="page" class="pagination-form-input" id="currentPage" size="2" value="{{currentPageNumber}}">
    </form>
    {{/if}}
    {{#if (lt currentPageNumber (subtract pageCount 1))}}
    <a href="/pastEvents?page={{add currentPageNumber 1}}" class="pagination-control" id="pagination-next-button">
        <i class="lni lni-arrow-right"></i>
    </a>
    {{else}}
    <a class="disabled-link pagination-control" id="pagination-next-button">
        <i class="lni lni-arrow-right"></i>
    </a>
    {{/if}}
</div>