<div class="page-title-bar">
    <button class="back-link" id="page-back-button">
        <a class="button-wrapper">
            <i class="lni lni-arrow-left"></i>
        </a>
    </button>
    <h1 class="header">{{profile.firstName}} {{profile.lastName}}</h1>
</div>
{{#if (eq page 'my-profile')}}
    <div class="top-page-bar">
        <div class="bg-button button">
            <a class="button-wrapper" href="/edit/profile">
                <i class="lni lni-pencil-1"></i>
                <p>Edit profile</p>
            </a>
        </div>
        <div class="fg-button button">
            <a class="button-wrapper" href="/logout">
                <i class="lni lni-exit"></i>
                <p>Log out</p>
            </a>
        </div>
    </div>
{{/if}}
<div class="profile-content">
    <div class="card" id="personalInfo">
        <img id="profile-picture" src="{{profile.pfp}}" alt="Profile Picture" />
        <div class="personal-info-content">
            <h2>{{profile.firstName}} {{profile.lastName}}</h2>
            <p>{{profile.role}}</p>
        </div>
    </div>
    <div class="card" id="dateJoined">
        <div class="card-header">
            <i class="lni lni-calendar-days"></i>
            <p>Date joined</p>
        </div>
        <p>{{profile.createdAt}}</p>
    </div>
    <div class="card" id="bio">
        <div class="card-header">
            <i class="lni lni-user-4"></i>
            <p>Bio</p>
        </div>
        <p>{{profile.bio}}</p>
    </div>
    <div class="card" id="contactInfo">
        <div class="card-header">
            <i class="lni lni-phone"></i>
            <p>Contact</p>
        </div>
        <div class="card-description-item">
            <i class="lni lni-phone"></i>
            <a href="tel:{{profile._id}}">{{profile._id}}</a>
        </div>
        {{#if profile.email}}
            <div class="card-description-item">
                <i class="lni lni-envelope-1"></i>
                <a href="mailto:{{profile.email}}">{{profile.email}}</a>
            </div>
        {{/if}}
    </div>
</div>